@import 'bootstrap';
@import '../../node_modules/owl.carousel/dist/assets/owl.carousel.min';
@import '../../node_modules/fancybox/dist/scss/jquery.fancybox.scss';
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,400,700&subset=cyrillic-ext');

body {
  font-family: 'IBM Plex Sans', sans-serif;
  color: #797979;
  font-size: 0.9rem;
  background: #fdfcfc;
}

a {
  color: inherit;
  outline: none;

  &:hover,
  &:focus {
    color: inherit;
  }
}

img {
  max-width: 100%;
  max-height: 100%;
}

h1,
.h1 {
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;

  @media (max-width: 767px) {
    font-size: 2rem;
  }
}

h2,
.h2 {
  font-size: 2.5rem;
  font-weight: 700;

  @media (max-width: 767px) {
    font-size: 1.5rem;
  }
}

.no-scrol {
  overflow: hidden;
}

.height-100 {
  height: 100%;
}

.bg-img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &--contain {
    background-size: contain;
  }
}

.shadow-y {
  box-shadow: 0 1.5rem 3rem rgba(0,0,0,.1)
}

.burger {
  width: 40px;
  height: 40px;
  background: #2f343c;
  border-radius: 3px;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.7);

  @media (max-width:991px){
    display: block;
  }

  &:after,
  &:before,
  span {
    content: "";
    position: absolute;
    width: 60%;
    height: 2px;
    background: #ffcf4f;
    left: 20%;
    transition: transform 0.25s ease-in-out;
  }

  &:before {
    top: 30%;
  }

  &:after {
    bottom: 30%;
  }

  span {
    top: calc(50% - 1px);
    transition: opacity 0.25s ease-in-out;
  }

  &--active {

    &:before {
      transform: rotate(45deg);
      top: calc(50% - 1px);
    }

    &:after {
      transform: rotate(-45deg);
      bottom: calc(50% - 1px);
    }

    span {
      opacity: 0;
    }
  }
}

.menu-btn {
  position: absolute;
  display: none;
  top: 0;
  right: 15px;
  z-index: 7;

  @media (max-width: 991px) {
    display: block;
  }

  &--active {
    position: fixed;
    top: 24px;
  }
}

.btn {
  display: inline-block;
  height: 47px;
  line-height: 45px;
  text-align: center;
  outline: none;
  background: transparent;
  border-radius: 10px;
  border: 1px solid transparent;
  transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
  cursor: pointer;
  padding: 0 0.75rem;
  font-weight: 700;

  &:hover,
  &:focus {
    text-decoration: none;
  }

  &--radius {
    border-radius: 30px;
  }

  &--search {

    &:before {
      content: '';
      background-image: url(../img/ico-search.png);
      display: inline-block;
      width: 14px;
      height: 14px;
      vertical-align: middle;
      margin-right: 10px;
      margin-top: -2px;
    }

  }

  &--blue {
    background: #26cdd3;
    border-color: #26cdd3;
    color: #fff;

    &:hover,
    &:focus {
      background: #26cdd3;
      color: #fff;
    }
  }

  &--white {
    background: rgba(255, 255, 255, 0.8);
    border-color: rgba(255, 255, 255, 0.8);
    color: #26cdd3;

    &:hover,
    &:focus {
      background: rgba(255, 255, 255, 0.8);
      color: #26cdd3;
    }
  }

}

.bg-white {
  background: #fff;
}

.color-yellow {
  color: #ffcf4f;

  a {
    color: #ffcf4f;
  }
}

.header {
  border-top: 12px solid #717070;
  padding: 12px 0;

  @media (max-width: 575px) {
    text-align: center;
  }
}

.horizontal-menu {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-align: center;
  padding: 4px 0;

  &__item {
    display: inline-block;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0 10px;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
  &__link {
    display: block;

    &--active,
    &:hover {
      text-decoration: none;
    }
  }
}

.vertical-menu {
  padding: 0;
  margin: 0;
  list-style-type: none;

  &__item {

  }
  &__link {
    display: block;

    &--active,
    &:hover {
      text-decoration: none;
    }
  }
}

.main-menu {
  position: relative;

  @media (max-width: 991px) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffcf4f;
    text-align: center;
    transform: translateX(-100%);
    z-index: 5;
    overflow: auto;
    transition: transform 0.25s ease-in-out;
    margin-top: 0;
  }

  &--active {
    transform: translateX(0);
  }
}

.logo-mobile {
  display: none;
  height: 140px;

  @media (max-width: 991px) {
    display: block;
    margin: 1rem 0;
  }
}

.link-icon {
  text-transform: uppercase;
  font-weight: 700;
  
  &:before {
    content: '';
    display: inline-block;
    width: 28px;
    height: 28px;
    vertical-align: middle;
    margin-right: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &--personal {
    
    &:before {
      background-image: url(../img/ico-personal.png);
    }

  }

  &:hover,
  &:focus {
    text-decoration: none;
  }

}

.heading-main {
  font-size: 50px;
  font-weight: 700;
  text-align: center;
  line-height: 1.2;
}

.slider {
  position: relative;

  &__item {
    width: 206px;
    position: relative;
  }

  .owl-nav {
    position: absolute;
    top: -70px;
    right: 2px;

    button.owl-prev,
    button.owl-next {
      display: inline-block;
      width: 45px;
      height: 45px;
      background: #fff;
      border-radius: 50%;
      box-shadow: 0 0 5px rgba(0,0,0,.2);
      background-repeat: no-repeat;
      outline: none;

      span {
        display: none;
      }
  
    }
  
    button.owl-prev {
      background-image: url(../img/nav-left.png);
      background-position: 45% 50%;
    }
  
    button.owl-next {
      background-image: url(../img/nav-right.png);
      background-position: 55% 50%;
      margin-left: 20px;
    }

  }
  
}

.select-custom {
  background: #fff;
  padding: 3px 10px;
  border: 1px solid #e2e2e2;
  border-radius: 10px;
  position: relative;
  padding-right: 30px;

  &__name,
  &__value {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__name {
    font-weight: 700;
    text-transform: uppercase;
  }

  &__value {
    font-size: 12px;
  }

  &:after {
    content: '';
    background-image: url(../img/arrow-down.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    bottom: 8px;
    right: 10px;
    width: 14px;
    height: 8px;
  }

}

.card {
  border-radius: 10px;
  color: #fff;
  padding: 10px 15px;
  line-height: 1.2;
  position: relative;
  overflow: hidden;

  &--small {
    height: 206px;
  }

  &__name,
  &__props {
    text-shadow: 2px 2px 1px #000;
    transition: opacity 0.25s ease-in-out;
  }

  &__name {
    font-size: 22px;

    &:after {
      content: '';
      display: block;
      background-image: url(../img/arrow-right.png);
      background-repeat: repeat;
      background-position: center;
      width: 53px;
      height: 17px;
      margin-top: 15px;
      transition: opacity 0.25s ease-in-out;
    }
  }

  &__props {
    font-size: 1rem;
    position: absolute;
    bottom: 20px;
    left: 15px;
    width: calc(100% - 30px);
  }

  &__hover {
    background: rgba(38, 205, 211, 0.7);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 10px 15px;
    text-align: center;
    transform: translateY(100%);
    transition: transform 0.25s ease-in-out;
  }

  &:hover {

    .card__name,
    .card__name:after,
    .card__props {
      opacity: 0;
    }

    .card__hover {
      transform: translateY(0);
    }

  }
}

.tabs {
  margin-bottom: -47px;
  margin-right: 130px;
  position: relative;
  z-index: 1;

  &__link {
    display: inline-block;
    height: 47px;
    line-height: 45px;
    text-align: center;
    outline: none;
    background: #fff;
    border-radius: 10px;
    border: 1px solid #aaa;
    transition: background-color .25s ease-in-out, color .25s ease-in-out;
    cursor: pointer;
    padding: 0 2rem;
    font-weight: 700;
    color: #aaa;
    margin-right: 10px;

    &:hover,
    &:focus,
    &--active {
      color: #fff;
      border-color: #26cdd3;
      background-color: #26cdd3;
      text-decoration: none;
    }

  }

  &__container {
    position: relative;
    overflow: hidden;
    padding-top: 72px;
    height: 278px;
  }

  &__block {
    position: absolute;
    opacity: 0;
    transform: translateX(100%);
    width: 100%;
    height: 206px;
    transition: opacity 0.5s ease-in-out, transform 0s ease-in-out 0.5s;

    &--active {
      display: block;
      opacity: 1;
      transform: translateX(0);
      transition: transform 0s ease-in-out, opacity 0.5s ease-in-out 0.5s;
    }

  }

}