@import 'bootstrap';
@import '../../node_modules/owl.carousel/dist/assets/owl.carousel.min';
@import '../../node_modules/fancybox/dist/scss/jquery.fancybox.scss';
//@import '../assets/fonts/socicon/stylesheet';
//@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,400,700&subset=cyrillic-ext');

body {
  font-family: 'IBM Plex Sans', sans-serif;
  // color: #797979;
  color: #252525;
  font-size: 0.9rem;
  // background: #fdfcfc;
  background: #fff;
}

a {
  color: inherit;
  outline: none;

  &:hover,
  &:focus {
    color: inherit;
  }
}

img {
  max-width: 100%;
  max-height: 100%;
}

h1,
.h1 {
  font-size: 1.85rem;
  font-weight: 700;

  @media (max-width: 767px) {
    font-size: 1.5rem;
  }
}

h2,
.h2 {
  font-size: 2.5rem;
  font-weight: 700;

  @media (max-width: 767px) {
    font-size: 1.5rem;
  }
}

h3,
.h3 {
  font-size: 1.35rem;
  font-weight: 700;
}

h4,
.h4 {
  font-size: 1.25rem;
}

.no-scrol {
  overflow: hidden;
}

.height-100 {
  height: 100%;
}

.bg-img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &--contain {
    background-size: contain;
  }
}

.shadow-y {
  box-shadow: 0 1.5rem 3rem rgba(134, 133, 133,.1)
}

.burger {
  width: 40px;
  height: 40px;

  @media (max-width:991px){
    display: block;
  }

  &:after,
  &:before,
  span {
    content: "";
    position: absolute;
    width: 60%;
    height: 2px;
    background: #26cdd3;
    left: 20%;
    transition: transform 0.25s ease-in-out;
  }

  &:before {
    top: 30%;
  }

  &:after {
    bottom: 30%;
  }

  span {
    top: calc(50% - 1px);
    transition: opacity 0.25s ease-in-out;
  }

  &--active {

    &:before {
      transform: rotate(45deg);
      top: calc(50% - 1px);
    }

    &:after {
      transform: rotate(-45deg);
      bottom: calc(50% - 1px);
    }

    span {
      opacity: 0;
    }
  }
}

.menu-btn {
  display: none;
  position: relative;
  transition: opacity 0.25s ease-in-out 0.25s;

  @media (max-width: 991px) {
    display: block;
  }

  &--active {
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 7;
  }

  &--hidden {
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
  }
}

.btn {
  display: inline-block;
  height: 47px;
  line-height: 45px;
  text-align: center;
  outline: none;
  background: transparent;
  border-radius: 10px;
  border: 1px solid transparent;
  transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
  cursor: pointer;
  padding: 0 0.75rem;
  font-weight: 700;

  &:hover,
  &:focus {
    text-decoration: none;
  }

  &--radius {
    border-radius: 30px;
  }

  &--search {

    &:before {
      content: '';
      background-image: url(../img/ico-search.png);
      display: inline-block;
      width: 14px;
      height: 14px;
      vertical-align: middle;
      margin-right: 10px;
      margin-top: -2px;
    }

  }

  &--blue {
    background: #26cdd3;
    border-color: #26cdd3;
    color: #fff;

    &:hover,
    &:focus {
      background: #26cdd3;
      color: #fff;
    }
  }

  &--white {
    background: rgba(255, 255, 255, 0.8);
    border-color: rgba(255, 255, 255, 0.8);
    color: #26cdd3;

    &:hover,
    &:focus {
      background: rgba(255, 255, 255, 0.8);
      color: #26cdd3;
    }
  }

  &--download {
    background-image: url(../img/ico-download.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 47px;
    height: 47px;
    border: 1px solid #26cdd3;
    border-radius: 50%;
  }

}

.bg-white {
  background: #fff;
}

.color-blue {
  color: #26cdd3;

  &:hover,
  &:focus {
    color: #26cdd3;
  }
}

.color-black {
  color: #000;
}

.link-arrow {
  font-size: 1rem;

  &:after {
    content: '\2192';
    margin-left: 5px;
  }

}

.link-more {
  color: #099196;
  font-size: 1rem;
  font-weight: 700;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.header {
  border-top: 12px solid #717070;
  padding: 12px 0;

  @media (max-width: 575px) {
    text-align: center;
  }
}

.horizontal-menu {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-align: center;
  padding: 4px 0;

  &__item {
    display: inline-block;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0 10px;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    @media (max-width: 991px) {
      display: block;
      margin: 10px 0;
    }
  }
  &__link {
    display: block;

    &--active,
    &:hover {
      text-decoration: none;
    }
  }
}

.vertical-menu {
  padding: 0;
  margin: 0;
  list-style-type: none;

  &__item {

  }

  &__link {
    display: block;
  }
}

.main-menu {
  position: relative;

  &__content {
    display: inline-block;
    vertical-align: middle;
  }

  &:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    margin-right: -4px;
  }

  @media (max-width: 991px) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    text-align: center;
    transform: translateX(-100%);
    z-index: 5;
    overflow: auto;
    transition: transform 0.25s ease-in-out;
    margin-top: 0;
  }

  &--active {
    transform: translateX(0);
  }
  
}

.logo-mobile {
  display: none;

  @media (max-width: 991px) {
    display: block;
    margin: 1rem 0;
  }
}

.link-icon {
  text-transform: uppercase;
  font-weight: 700;
  
  &:before {
    content: '';
    display: inline-block;
    width: 28px;
    height: 28px;
    vertical-align: middle;
    margin-right: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &--personal {

    &:before {
      background-image: url(../img/ico-personal.png);

      @media (max-width: 1199px) {
        margin-right: 0;
      }
    }

    @media (max-width: 1199px) {
      font-size: 0;
    }

  }

  &:hover,
  &:focus {
    text-decoration: none;
  }

}

.heading-main {
  font-size: 50px;
  font-weight: 700;
  text-align: center;
  line-height: 1.2;

  @media (max-width: 991px) {
    font-size: 3rem;
  }

  @media (max-width: 767px) {
    font-size: 2rem;
  }

  @media (max-width: 479px) {
    font-size: 1.25rem;
  }
}

.slider {
  position: relative;

  &__item {
    width: 206px;
    position: relative;
  }

  .owl-nav {
    position: absolute;
    top: -70px;
    right: 2px;

    button.owl-prev,
    button.owl-next {
      display: inline-block;
      width: 45px;
      height: 45px;
      background: #fff;
      border-radius: 50%;
      box-shadow: 0 0 5px rgba(0,0,0,.2);
      background-repeat: no-repeat;
      outline: none;

      span {
        display: none;
      }
  
    }
  
    button.owl-prev {
      background-image: url(../img/nav-left.png);
      background-position: 45% 50%;
    }
  
    button.owl-next {
      background-image: url(../img/nav-right.png);
      background-position: 55% 50%;
      margin-left: 20px;
    }

    @media (max-width: 767px) {
      display: none;
    }

  }
  
}

.select-custom {
  background: #fff;
  padding: 3px 10px;
  border: 1px solid #e2e2e2;
  border-radius: 10px;
  position: relative;
  padding-right: 30px;

  &__name,
  &__value {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__name {
    font-weight: 700;
    text-transform: uppercase;
  }

  &__value {
    font-size: 12px;
  }

  &:after {
    content: '';
    background-image: url(../img/arrow-down.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    bottom: 8px;
    right: 10px;
    width: 14px;
    height: 8px;
    transition: transform 0.25s ease-in-out;
  }

  &__list {
    opacity: 0;
    margin: 0;
    position: absolute;
    border: 1px solid #e2e2e2;
    border-radius: 10px;
    width: 100%;
    left: 0;
    background: #fff;
    top: 50px;
    padding: 0;
    font-size: 14px;
    z-index: -1;
    box-shadow: 1px 2px 5px rgba(0,0,0,.1);
    max-height: 134px;
    line-height: 1;
    overflow: auto;
    transition: opacity 0.15s ease-in-out, z-index 0s ease-in-out 0.15s;

    &--active {
      opacity: 1;
      z-index: 2;
      transition: opacity 0.25s ease-in-out;
    }

  }

  &__item {
    display: block;
    padding: 4px 10px;
    cursor: pointer;
    transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;

    &:hover,
    &:focus,
    &--selected {
      background: #26cdd3;
      color: #fff;
    }

  }

  &--active {

    &:after {
      transform: rotate(180deg);
    }

  }

}

.card {
  border-radius: 10px;
  color: #fff;
  padding: 10px 15px;
  line-height: 1.2;
  position: relative;
  overflow: hidden;
  height: 206px;
  max-width: 206px;
  margin: 0 auto;

  &__name,
  &__props {
    text-shadow: 2px 2px 1px #000;
    transition: opacity 0.25s ease-in-out;
  }

  &__name {
    font-size: 22px;
    position: relative;
    z-index: 1;
    transition: text-shadow 0.25s ease-in-out;

    &:after {
      content: '';
      display: block;
      background-image: url(../img/arrow-right.png);
      background-repeat: repeat;
      background-position: center;
      width: 53px;
      height: 17px;
      margin-top: 10px;
      vertical-align: middle;
      transition: opacity 0.25s ease-in-out;
    }

    span {
      display: inline-block;
      max-height: 80px;
      overflow: hidden;
      vertical-align: middle;
    }

    &--big {
      font-size: 30px;

      &:after {
        display: inline-block;
        margin-left: 10px;

        @media (max-width: 767px) {
          display: none;
        }
      }

      span {
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 100%;
      }
      
    }

  }

  &__props {
    font-size: 1rem;
    position: absolute;
    bottom: 20px;
    left: 15px;
    width: calc(100% - 30px);
    z-index: 1;
    transition: transform 0.25s ease-in-out;

    &--big {
      font-size: 1.15rem;
    }

  }

  &__hover {
    background: rgba(38, 205, 211, 0.7);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 140px 15px 10px;
    text-align: center;
    transform: translateY(100%);
    transition: transform 0.25s ease-in-out;

    &--big {
      text-align: left;
      padding-top: 140px;
    }

  }

  &__text {
    max-height: 154px;
    overflow: hidden;

    @media (max-width: 479px) {
      max-height: 146px;
    }
  }

  &__btn {
    
    &--big {
      width: 168px;
    }
    
  }

  &:hover {

    .card__name,
    .card__props {
      opacity: 1;
      text-shadow: none;
    }

    .card__name:after {
      opacity: 0;
    }

    .card__props {
      transform: translateY(-58px);
    }

    .card__hover {
      transform: translateY(0);
    }

  }

  &--big {
    height: 398px;
    padding-top: 30px;
    max-width: 350px;

    &:hover {

      .card__props {
        transform: translateY(-260px);
      }

    }

  }

}

.card-vertical {
  background: #fff;
  border-radius: 10px;
  line-height: 1.2;
  position: relative;
  overflow: hidden;
  box-shadow: 0 1.5rem 3rem hsla(0,0%,52%,.1);
  height: 340px;
  transition: transform 0.15s ease-in-out;
  max-width: 256px;
  margin: 0 auto;

  &__hover {
    padding: 10px 15px;
    background: #fff;
    transition: transform 0.25s ease-in-out 0.25s;
  }

  &__img {
    height: 168px;
    transition: opacity 0s ease-in-out 0.25s;
  }
  
  &__name {
    font-size: 22px;
    font-weight: 700;
    max-height: 54px;
    overflow: hidden;
  }

  &__link {
    font-size: inherit;
    margin: 0 15px;
    display: block;
    border-top: 1px solid #eaeaea;
    padding-top: 10px;
    text-align: center;
    position: absolute;
    width: calc(100% - 30px);
    bottom: 15px;
    transition: opacity 0.25s ease-in-out 0.25s, transform 0s ease-in-out 0.25s;
  }

  &__text,
  &__btn {
    opacity: 0;
    transform: translateX(calc(100% + 15px));
    transition:  opacity 0.25s ease-in-out, transform 0s ease-in-out 0.25s
  }

  &__text {
    margin: 30px 0;
    height: 102px;
    overflow: hidden;
  }

  &:hover,
  &:focus {
    transform: scale(1.1);

    .card-vertical__img {
      opacity: 0;
    }

    .card-vertical__hover {
      transform: translateY(-168px);
      transition: transform 0.25s ease-in-out;
    }

    .card-vertical__text,
    .card-vertical__btn {
      opacity: 1;
      transform: translateX(0);
      transition: transform 0s ease-in-out 0.25s, opacity 0.25s ease-in-out 0.25s;
    }

    .card-vertical__link {
      opacity: 0;
      transform: translateY(calc(100% + 15px));
      transition: opacity 0.25s ease-in-out, transform 0s ease-in-out 0.25s;
    }
  }

}

.card-horizontal {
  background: #fff;
  border-radius: 10px;
  line-height: 1.2;
  position: relative;
  overflow: hidden;
  box-shadow: 0 1.5rem 3rem hsla(0,0%,52%,.1);
  height: 146px;
  transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;

  &__hover {
    float: left;
    width: 66.66%;
    padding: 10px 15px;
    background: #fff;
    height: 100%;
    border-radius: 10px;
    transition: background-color 0.25s ease-in-out, transform 0.25s ease-in-out 0.25s;

    @media (max-width: 479px) {
      width: 100%;
    }
  }

  &__img {
    width: 33.33%;
    float: left;
    height: 100%;
    transition: opacity 0s ease-in-out 0.25s;

    @media (max-width: 479px) {
      display: none;
    }
  }
  
  &__name {
    font-size: 22px;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__link {
    font-size: inherit;
    display: block;
    border-top: 1px solid #eaeaea;
    padding-top: 10px;
    text-align: left;
    width: 70%;
    min-width: 120px;
  }

  &:hover,
  &:focus {
    background: #26cdd3;
    color: #fff;

    .card-horizontal__img {
      opacity: 0;
      transition: opacity 0s ease-in-out 0.5s;
    }

    .card-horizontal__hover {
      background: #26cdd3;
      transform: translateX(-50%);

      @media (max-width: 479px) {
        transform: translateX(0);
      }
    }

  }

}

.tabs {
  margin-bottom: -62px;
  margin-right: 130px;
  position: relative;
  z-index: 1;
  overflow: auto;
  white-space: nowrap;
  padding-bottom: 15px;

  &__link {
    display: inline-block;
    height: 47px;
    line-height: 45px;
    text-align: center;
    outline: none;
    background: #fff;
    border-radius: 10px;
    border: 1px solid #aaa;
    transition: background-color .25s ease-in-out, color .25s ease-in-out;
    cursor: pointer;
    padding: 0 2rem;
    font-weight: 700;
    color: #aaa;
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }

    &:hover,
    &:focus,
    &--active {
      color: #fff;
      border-color: #26cdd3;
      background-color: #26cdd3;
      text-decoration: none;
    }

    @media (max-width: 991px) {
      padding: 0 1rem;
    }

  }

  &__container {
    position: relative;
    overflow: hidden;
    padding-top: 72px;
    height: 278px;
  }

  &__block {
    position: absolute;
    opacity: 0;
    transform: translateX(100%);
    width: 100%;
    height: 206px;
    transition: opacity 0.5s ease-in-out, transform 0s ease-in-out 0.5s;

    &--active {
      display: block;
      opacity: 1;
      transform: translateX(0);
      transition: transform 0s ease-in-out, opacity 0.5s ease-in-out 0.5s;
    }

  }

  @media (max-width: 767px) {
    margin-right: 0;
  }

}

.block-info {
  background: #fff;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 1.5rem 3rem hsla(0,0%,52%,.1);

  &__text {
    position: relative;
    max-height: 126px;
    overflow: hidden;
  }

  &__link-more {
    position: absolute;
    top: 105px;
    right: 0;
    background: #fff;
    padding-left: 10px;
    color: #26cdd3;
  }

}

.social{
	overflow: hidden;
  margin: 0;
  padding: 0;
  list-style: none;
  box-shadow: 0 0 3rem hsla(0,0%,52%,.2);
  padding: 5px 10px 0;
  border-radius: 5px;

  &__item{
    display: inline-block;
    
    @media (min-width: 992px) and (max-width: 1199px) {
      margin: 0 10px;
    }  
  }

  &__link{
    font-family: si!important;
    font-style: normal;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    display: block;
    position: relative;
    z-index: 1;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    margin: 0;
    color: #797979;
    background-color: #fdfcfc;
    transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;

    &:hover,
    &:focus{
      background-color: #26cdd3;
      text-decoration: none;
      color: #fff;
    }

    &--linkedin:before {
      content:'\e049';
    }

    &--twitter:before {
      content:'\e040';
    }

    &--instagram:before {
      content:'\e057';
    }
    
    &--facebook:before {
      content:'\e041';
    }
    
  }

}

.menu-heading {
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
}

.icon {
  font-size: 1rem;

  &:before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 24px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 10px;
    vertical-align: middle;
  }

  &--address {

    &:before {
      background-image: url(../img/ico-address.png);

    }
  }

  &--phone {
    &:before {
      background-image: url(../img/ico-phone.png);
    }
  }

  &--rub {
    &:before {
      background-image: url(../img/ico-rub.png);
    }
  }

  &--big {
    font-size: 1.25rem;

    &:before {
      width: 34px;
      height: 34px;
    }
  }

}

.ui-slider {
  position: relative;
  text-align: left;
  height: 6px;
  background: #aaa;
  border-radius: 3px;
  margin: 20px;

  &-range {
    position: absolute;
    top: 0;
    height: 100%;
    background: #26cdd3
  }

  &-handle {
    position: absolute;
    z-index: 2;
    width: 16px;
    height: 16px;
    background: #fff;;
    border-radius: 50%;
    top: calc(50% - 8px);
    box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
    outline: none;
    margin-left: -8px;
  }
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  list-style-type: none;

  &__item {
    display: inline-block;

    &:after {
      content: '>';
      margin: 0 5px;
    }

    &:last-child {
      &:after {
        display: none;
      }
    }
  }

  &__link {
    
    &:hover,
    &:focus {

    }
  }
}

.detail-banner {
  color: #fff;
  text-shadow: 2px 2px 1px #000;
  height: 368px;
  border-radius: 10px;
  font-size: 1rem;
  padding: 26px 20px;
  position: relative;
  overflow: hidden;

  &:before {
    content: '';
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 50%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__number {
    position: absolute;
    top: 10px;
  }

  &__favorite {
    position: absolute;
    top: 6px;
    right: 15px;
  }

  &__name,
  &__profit {
    margin: 0;
    position: absolute;
    font-weight: 700;

  }

  &__name {
    font-size: 1.85rem;
    bottom: 60px;
    text-transform: uppercase;

    @media (max-width: 767px) {
      font-size: 1.5rem
    }
  }

  &__profit {
    font-size: 1.5rem;
    bottom: 26px;

    @media (max-width: 767px) {
      font-size: 1.25rem
    }
  }
}

.link-favorite {

  &:after {
    content: '';
    display: inline-block;
    width: 38px;
    height: 36px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../img/ico-star.png);
    vertical-align: middle;
  }

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.line-bottom {
  border-bottom: 1px dashed;
}

.line-top {
  border-top: 1px dashed;
}

.advantage {
  text-align: center;
  margin-bottom: 20px;

  &__ico {
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    height: 46px;

    &--terrace {
      background-image: url(../img/ico-terrace.png);
    }

    &--chef-hat {
      background-image: url(../img/ico-chef-hat.png);
    }

    &--massage {
      background-image: url(../img/ico-massage.png);
    }
  }

  &__name {
    font-size: 1.15rem;
    font-weight: 700;
    margin-top: 5px;
  }
}

.slider-description {

  &__item {

  }

  &__img {
    height: 262px;
  }

  &__name {
    font-size: 1.5rem;
    line-height: 1;
    font-weight: 700;
  }

  .owl-stage-outer {
    border: 1px solid #eaeaea;
    border-radius: 10px;
    overflow: hidden;
    background: #fff;
  }

  .owl-nav {
    position: absolute;
    top: -22px;
    right: 50px;

    button.owl-prev,
    button.owl-next {
      display: inline-block;
      width: 45px;
      height: 45px;
      background: #fff;
      border-radius: 50%;
      box-shadow: 0 0 5px rgba(0,0,0,.2);
      background-repeat: no-repeat;
      outline: none;

      span {
        display: none;
      }
  
    }
  
    button.owl-prev {
      background-image: url(../img/nav-left.png);
      background-position: 45% 50%;
    }
  
    button.owl-next {
      background-image: url(../img/nav-right.png);
      background-position: 55% 50%;
      margin-left: 20px;
    }

    @media (max-width: 767px) {
      display: none;
    }

  }
}

.slider-gallery {

  &__item {
    display: block;
    height: 274px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(38,205,211,.7);
      background-image: url(../img/ico-zoom.png);
      background-position: center;
      background-repeat: no-repeat;
      opacity: 0;
      transition: opacity 0.25s ease-in-out;
    }

    &:hover {
      &:after {
        opacity: 1;
      }
    }
  }

  .owl-nav {
    position: absolute;
    bottom: -26px;
    right: 50px;

    button.owl-prev,
    button.owl-next {
      display: inline-block;
      width: 45px;
      height: 45px;
      background: #fff;
      border-radius: 50%;
      box-shadow: 0 0 5px rgba(0,0,0,.2);
      background-repeat: no-repeat;
      outline: none;

      span {
        display: none;
      }
  
    }
  
    button.owl-prev {
      background-image: url(../img/nav-left.png);
      background-position: 45% 50%;
    }
  
    button.owl-next {
      background-image: url(../img/nav-right.png);
      background-position: 55% 50%;
      margin-left: 20px;
    }

    @media (max-width: 767px) {
      display: none;
    }

  }
}

.props-list {

  &__item {
    // min-height: 60px;
    min-height: 42px;
  }
}

.list {
  list-style-type: none;
  padding: 0;

  &--level2 {

  }

  &__item {
    padding: 0 0 10px 20px;
    position: relative;
    font-size: 1.15rem;

    &:before {
      content: '';
      position: absolute;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: #ddd;
      left: 0;
      top: 10px;
    }

    &:after {
      content: '';
      position: absolute;
      width: 1px;
      height: 100%;
      background: #ddd;
      top: 0;
      left: 3px;
    }

    &:first-child {

      &:after {
        top: 10px;
      }
    }

    &:last-child {
      padding-bottom: 0;

      &:after {
        top: 0;
        height: 10px;
      }
    }

    &--level2 {
      font-size: 0.9rem;

      &:before {
        content: '\2192';
        width: auto;
        height: auto;
        border-radius: 0%;
        background-color: transparent;
        line-height: 1;
        top: 0;
        color: #ddd;
        font-size: 1.25rem;
      }

      &:after {
        display: none;
      }
    }
  }
}

.form {
  
  &__input {
    width: 100%;
    height: 47px;
    border: none;
    border-radius: 5px;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.1);
    padding: 0 20px;
    outline: none;
  }

  &__checkbox {
    display: none;
  }

  &__checkbox-label {

    &:before {
      content: '';
      display: inline-block;
      width: 30px;
      height: 28px;
      background-color: #fff;
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 5px;
      box-shadow: inset 0 0 5px rgba(0,0,0,.1);
      vertical-align: middle;
      margin-right: 10px;
    }
  }

  &__checkbox:checked + &__checkbox-label:before {
    background-image: url(../img/ico-success.png);
  }
}

.feedback-form {
  color: #fff;
  text-shadow: 2px 2px 1px #000;
  padding: 50px 0;
  background-attachment: fixed;
  position: relative;

  @media (max-width: 1199px) {
    background-attachment: scroll;
  }

  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
  }

  &__heading {
    margin-bottom: 50px;

    @media (max-width: 767px) {
      margin-bottom: 50px;
    }
  }
}

.gallery {

  &__hidden {
    display: none;
  }
}